/* 
    Created on : 19-ago-2017, 0.42.11
    Author     : Mattia Leonardo Angelillo
    Email      : mattia.angelillo@gmail.com
    Version    : 1.0.1
*/
.m_slideshow {
    border: 0px solid;
}
.m_slideshow , .m_slideshow  .pictures .slide, .m_slideshow  .pictures .slide img{
}
.m_slideshow  .pictures .slide{
    position: relative;
    width: 100%;
    height: 100%;
}
.m_slideshow  .pictures .slide > img{
    position: absolute;
}
.m_slideshow  .controls .arrow{
    width: 40px;
    height: 40px;
    border: 1px solid;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background: white;
    position: absolute;
    z-index: 3;
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
}
.m_slideshow  .controls .arrow--left{
    left: 10px;
    background-image: url(../images/m_slideshow/left-control.png)
}
.m_slideshow  .controls .arrow--right{
    right: 10px;
    background-image: url(../images/m_slideshow/right-control.png)
}
.m_slideshow  .thumbnail{
    position: absolute;
    bottom: 0;
    border: 0 !important;
    background-color: transparent !important;
}
.m_slideshow  .thumbnail.circle{height: 30px;}
.m_slideshow  .thumbnail.circle .thumbnail-circle{
    border: 1px solid;
    width: 20px;
    height: 20px;
    float: left;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: white;
    margin: 0 auto;
    margin-right: 5px;
}
.m_slideshow  .thumbnail.picture{height: 50px;bottom: 10px;}
.m_slideshow  .thumbnail.picture img{
    float: left;
    background: red;
    z-index: 99999;
    width: 50px !important;
    height: 50px !important;
    margin-right: 10px;
    border: 2px solid;
}
[data-selected="yes"]{
    background-color: #000 !important;
    border-color: beige !important;
}